<h1>Add a new list:</h1>

<form action="/lists" method="post">

  <label for="name">Add a New List:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add a New List</button>
</form>
