<h1>Tasks</h1>


<h3> Here are the tasks for this list: </h3>
<ol>
  <% @tasks.each() do |task| %>
  <li><a href="/tasks/<%= task.id() %>"><%= task.description() %></a></li>
    <% end %>
</ol>

<a href="/">Home</a>
